.credits {
	position: absolute;
	bottom: 1em;
	right: 1em;
	margin: 0 1em;
}

.modal-background {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: none repeat scroll 0% 0% #000;
	opacity: 0.7;
	z-index: 1000000;
}

.modal-display {
	position: fixed;
	top: 30%;
	left: 50%;
	width: 450px;
	margin-left: -225px;
	background: none repeat scroll 0% 0% #FFF;
	color: #505050;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
	line-height: 1.5;
	z-index: 1000005;
	padding: 0 2em;
}

.modal-display a {
	color: #505050;
}

.modal-display .modal-close:before,
.modal-display .modal-close:after {
	content: "";
	position: absolute;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.modal-display .modal-close {
	position: absolute;
	top: 1em;
	right: 1em;
	color: transparent;
}

.modal-display .modal-close:before {
	width: 30px;
	height: 2px;
	top: 14px;
	right: 0;
}

.modal-display .modal-close:after {
	width: 2px;
	height: 30px;
	top: 0;
	right: 14px;
}

.modal-display .modal-close:before,
.modal-display .modal-close:after {
	background-color: #505050;
}

.modal-display .modal-close:hover:before,
.modal-display .modal-close:hover:after {
	background-color: #202020;
}

footer {
	position: relative;
	min-height: 3em;
}

footer .modal {
	display: none;
}
